.content {
  display: flex;
  margin-top: 24px;
  height: 244px;
  border-top: 1px solid var(--gray-400);
  border-radius: 8px;
  align-items: center;
  justify-content: center;
}

.no_content {
  display: flex;
  flex-direction: column;
  color: var(--gray-300);
  justify-items: center;
  align-items: center;
  font-weight: 400;
}

.no_content img {
  width: 56px;
  height: 56px;
  margin-top: 64px;
  margin-bottom: 16px;
}